<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mffw-mobile-app-v2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB9604FB1DC2FCC000CDD236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB96050F1DC2FCC000CDD236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB96051A1DC2FCC000CDD236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
